services:
  backend:
    build:
      context: ./apps/backend
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    env_file:
      - ./apps/backend/.env
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    build:
      context: ./apps/frontend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    env_file:
      - ./apps/frontend/.env
    depends_on:
      backend:
        condition: service_started
    restart: unless-stopped

  db:
    image: mongodb/mongodb-atlas-local:latest
    ports:
      - 27017:27017
    environment:
      - MONGODB_INITDB_ROOT_USERNAME=user
      - MONGODB_INITDB_ROOT_PASSWORD=pass
    volumes:
      - mongo_atlas_data:/data/db
      - mongo_atlas_config_data:/data/configdb
      - mongo_atlas_search_data:/data/mongot
    restart: unless-stopped

volumes:
  mongo_atlas_data:
  mongo_atlas_config_data:
  mongo_atlas_search_data:
